html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  width: 100%; /* Ensures full width */
  box-sizing: border-box; /* Includes padding and border in width and height */
}

/*START: GRADIENT BG*/
.gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle, #EFBAA6, #FFFFFF, #FFB699);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  box-sizing: border-box;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*END: GRADIENT BG*/

.hero {
  text-align: center;
  position: absolute;
  top: 10%; /* Adjust this value to move the hero section higher or lower */
  width: 100%; /* Ensures the hero section spans the full width */
}

.hero .logo {
  max-width: 100px;
  margin-bottom: 10px; /* Reduce the bottom margin */
}

.school-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 0;
  color: #333;
  margin-bottom: -20px; /* Move the school name closer to the logo */
}

.hero h1 {
  font-size: 100px;
  margin-bottom: 10px; /* Reduce the bottom margin */
  color: #333;
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1;
}

.hero h1 .handwriting {
  font-family: 'Shadows Into Light', cursive;
  color: #ef6e26;
}

/*START: GET STARTED BUTTON*/
.getstarted {
  --color: #fd9843;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border: none;
  background-color: transparent;
  position: absolute; /* Changed to absolute positioning */
  bottom: 150px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 200px;
}

.getstarted div {
  letter-spacing: 2px;
  font-weight: bold;
  background: var(--color);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  box-sizing: border-box; /* Includes padding and border in width and height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.getstarted::before {
  content: "";
  z-index: -1;
  background-color: var(--color);
  border: 2px solid white;
  border-radius: 2rem;
  width: calc(100% + 20px); /* Ensures pseudo-element is larger */
  height: 100%;
  position: absolute;
  transform: rotate(10deg);
  transition: 0.5s;
  opacity: 0.2;
  box-sizing: border-box;
}

.getstarted:hover {
  cursor: pointer;
  filter: brightness(1.2);
  transform: translate(-50%, 0) scale(1.1);
}

.getstarted:hover::before {
  transform: rotate(0deg);
  opacity: 1;
}

.getstarted svg {
  transform: translateX(-200%);
  transition: 0.5s;
  width: 0;
  opacity: 0;
}

.getstarted:hover svg {
  width: 25px;
  transform: translateX(0%);
  opacity: 1;
}

.getstarted:active {
  filter: brightness(1.4);
}

/* START: LOADER */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); /* White background with some opacity */
  z-index: 10000; /* Very high z-index to ensure it's in front */
}

.bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ff6b81, #ff9a44);
  margin: 0 5px;
  animation: bubbleAnimation 1.5s ease-in-out infinite;
}

@keyframes bubbleAnimation {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
}
/* END: LOADER */

/*START: CONTACT US*/
.contact-us {
  font-weight: lighter;
  color: #333;
}

.social-card {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: rgb(255, 255, 255);
  padding: 20px 25px;
  border-radius: 14px;
  margin-bottom: 15px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.contactus {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.contactus .svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  border-radius: 7px; /* Ensure this matches the button */
  transition: all 0.3s;
  z-index: 2;
}

.contactus .BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: 1;
  border-radius: 7px; /* Ensure this matches the button */
  pointer-events: none;
  transition: all 0.3s;
  font-size: 0px;
  border: 1px solid rgba(156, 156, 156, 0.466); /* Visible border */
}
.gmail .BG {
  background: #b42222;
}
.linkedin .BG {
  background: #0077b5;
}
.youtube .BG {
  background: #e53935;
}
.facebook .BG {
  background: #1188f0;
}
.contactus:hover .BG {
  transform: scale(1.3); /* Adjusted to maintain square shape */
  font-size: 20px;
  color: white;
}

.contactus:hover .svgContainer {
  background-color: rgba(209, 209, 209, 0.466);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(216, 216, 216, 0.466);
}
/*END: CONTACT US*/
